.box-align-icon {
  padding-left: 20%;
}

.box-align {
  padding-left: 40%;
}

.box:hover {
  cursor: pointer;
}

.box {
  height: 20px;
}

.dark-background {
  background-color: dark;
}

.container {
  padding: 20px;
}
